.form-regis{
    margin-left: 100px;
    margin-right: 100px;
}

.boton-register{
    background-color: grey;
    border-radius: 30%;
}

.registerContaner{
    text-align: center;
    background-color: aquamarine;
}