<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Tomas Rivetta</h2>
    <p>
        Tengo 19 años, actualmente me estoy desarrollando como Full Stack Developer en el Programa ONE y
        estoy cursando en CoderHouse el curso de Python con Django.En mis tiempos libres, practico programación💻 
        realizando mini proyectos para poder lograr reforzar lo aprendido, amo el futbol⚽ deporte que practico actualmente, 
        me encanta leer libros📚 sobre filosofía y los fines de semana salgo a caminar y practico Cartomagia🃏
    </p>
    <h2>Sebastian Rodriguez Lizarraga</h2>
    <p>Estudiante de Ciencias de la computación en UBA, teno 20 años. Quisiera seguir aprendiendo
        y metiendome en sistemas que es algo que me encanta, hace 2 años comencé a hacer sitios web en WordPress y
        me meti al curso de coder porque queria aprender a crear un sitio desde cero usando
        python y django.
    </p>
</body>
</html>