{% extends "blog/padre.html" %}



{% load static %}


{% block header %}   
<header class="masthead" id="login">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="mb-5">Registrarse...</h1>
                    
                    <span class="subheading">Ingrese </span>
                </div>
            </div>
        </div>
    </div>
</header>
<style >
    #login{
        background-image: url("{% static '/blog/assets/img/acerca-de-foto.jpg' %}");
    }
</style>

{% endblock %}  

{% block contenido %}

<h1>{{ mensaje }}</h1>

<div class=" form-control form-control-sm form-group row">
    <h2>-REGISTRO-</h2>
    <form action="{% url 'register' %}" method="POST" class="form-regis"> {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="form-control">Registrarse</button>

    </form>
</div>
{% endblock %}